{
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "displayName": true, // generate other classname
        "fileName": true, // generate other classname
      }
    ]
  ]
}